<!--<p>d-dashboard works!</p>
<p>Profile</p>
<p>Logout</p>-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="">HOPE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/doctorDetails">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/doctorDashboard">Dashboard  <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <a class="nav-link" routerLink="/doctorlogin"><button class="btn btn-success my-2 my-sm-0" type="submit">Logout</button></a>
        </div>
    </nav>
    <h2 class="my-4" style="text-align: center;">Dashboard</h2>
    <table class="table">
    <thead>
        <tr>
        <th scope="col">TreatmentID</th>
        <th scope="col">Patient Username</th>
        <th scope="col">Problem</th>
        <th scope="col">Problem</th>
        <th scope="col">Progress</th>
        <th scope="col"> Description</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let t of tList">
        <td scope="row">{{t.t_id}}</td>
        <td scope="row">{{t.p_username}}</td>
        <td scope="row">{{t.problem}}</td>
        <td scope="row">{{t.progess}}</td>
        <td scope="row">{{t.desp}}</td>
        </tr>
    </tbody>
    </table>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!--<table>
    <thead>
        <tr>
        <th>TreatmentID</th>
        <th>Patient Username</th>
        <th>Problem</th>
        <th>Progress</th>
        <th> Description</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let t of tList">
        <td>{{t.t_id}}</td>
        <td>{{t.p_username}}</td>
        <td>{{t.problem}}</td>
        <td>{{t.progess}}</td>
        <td>{{t.desp}}</td>
        </tr>
    </tbody>
</table>-->